n8n/AGENTIC-MCP-claims-rec.json
{
  "name": "AGENTIC-MCP-CLAIMS-REC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claims-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "a0a2d6e3-7b3a-4205-95a7-90d571ed2759",
      "name": "Webhook",
      "webhookId": "98d38ad8-97c3-40ca-84c3-499de69d8fee"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        0
      ],
      "id": "7d5bda5e-4ce0-4f6a-b63b-7f23e39914c6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        256
      ],
      "id": "c938b5c0-dc58-4c6f-ba15-2d41a3ffe525",
      "name": "Persistent Session Memory",
      "credentials": {
        "postgres": {
          "id": "ZJ4ppv7edIvXWBkM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        256
      ],
      "id": "9dc7f471-4396-4937-b966-bc3c4879874e",
      "name": "GPT OSS 20B",
      "credentials": {
        "groqApi": {
          "id": "WjPaY4qeiXD9kIuW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://claims-rec-mcp:7711/mcp",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        496,
        256
      ],
      "id": "5379948e-341e-4941-87bf-e1ade496ea21",
      "name": "Claims Rec – MCP Client"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57fdae2a-3297-4fe5-a548-39c3c1544d80",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        0
      ],
      "id": "f89323dd-7e0c-4a7f-a09b-372b634fadf6",
      "name": "Clean up Payload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful and friendly assistant working for the Zanzibar Health Services Fund (ZHSF).\nYour role is to support staff by helping them quickly check claim details, claim status, recent claims, patient claims, and by assisting in approving or rejecting claims using the available tools.\nAlways explain things simply, avoid technical language, and guide users gently.\nIf a tool can answer their request, call it.\nBe polite, supportive, and make the workflow easy for the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0d4a16c8-807c-4262-bb8b-c691cdce0c89",
      "name": "AI Agent - Claims Rec"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Clean up Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistent Session Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT OSS 20B": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claims Rec – MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean up Payload": {
      "main": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Claims Rec": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "105a9703-0d48-45b5-8d6b-81a38789621e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9b9e27187631691b15e4d05baada66360f8af7459ea0ffdddd4d1730d4f2bff"
  },
  "id": "EoOD1nfixJun2SC2",
  "tags": [
    {
      "updatedAt": "2025-11-27T11:34:52.112Z",
      "createdAt": "2025-11-27T11:34:52.112Z",
      "id": "Ac41p9UK0IYTaxiL",
      "name": "mcp"
    },
    {
      "updatedAt": "2025-11-27T11:34:54.106Z",
      "createdAt": "2025-11-27T11:34:54.106Z",
      "id": "LWWUAu0YA5M7ST53",
      "name": "agent"
    },
    {
      "updatedAt": "2025-11-27T11:34:58.248Z",
      "createdAt": "2025-11-27T11:34:58.248Z",
      "id": "ye3pWP9MqmOjAep2",
      "name": "session"
    }
  ]
}