n8n/RAG-OCR-workflow.json
{
  "name": "RAG-OCR-workflow",
  "nodes": [
    {
      "parameters": {
        "url": "=http://kong:8000/storage/v1/object/Claims/{{ $json.name }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjM0MjA0MDAsImV4cCI6MTkyMTE4NjgwMH0.r2y3orodv9Q7iPxpQDgz6sbeKw0BQE3j3PCbcnA1DoM\",\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjM0MjA0MDAsImV4cCI6MTkyMTE4NjgwMH0.r2y3orodv9Q7iPxpQDgz6sbeKw0BQE3j3PCbcnA1DoM\",\n  \"Content-Type\": \"application/json\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "={{ $json.name }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -288
      ],
      "id": "6b95ec88-3e9c-4657-854d-cebca797573c",
      "name": "Download Claim"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        -208
      ],
      "id": "37507426-1ba5-4376-a399-c6170b61a9ed",
      "name": "Wait 1 sec",
      "webhookId": "3b13a3f7-4a7a-4236-932b-a0b78bd381ff"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/result/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -400
      ],
      "id": "14ae70e0-41f7-4d0e-8067-9452449dff02",
      "name": "Extract Markdown from Document"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40435399-105d-4cd3-85d6-43ae20b4a780",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -288
      ],
      "id": "b0b17c3d-d25e-4e0f-982f-1bdc47e997ff",
      "name": "If parsing still on"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/status/poll/{{ $json.task_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wait",
              "value": "60"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -288
      ],
      "id": "35c5ead6-ed41-42d0-a827-a576f3d0b4f1",
      "name": "Check the status of the Docling/OCR process"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -160
      ],
      "id": "d6a126a3-f0ab-46a4-a98b-a66a46b29355",
      "name": "Loop Over Claims"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kong:8000/storage/v1/object/list/Claims",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjM0MjA0MDAsImV4cCI6MTkyMTE4NjgwMH0.r2y3orodv9Q7iPxpQDgz6sbeKw0BQE3j3PCbcnA1DoM\",\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjM0MjA0MDAsImV4cCI6MTkyMTE4NjgwMH0.r2y3orodv9Q7iPxpQDgz6sbeKw0BQE3j3PCbcnA1DoM\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prefix\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -272
      ],
      "id": "daa5d8e6-ac8e-410a-889d-c635044a14c8",
      "name": "Fetch All Claims Metadata from Storage"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -272
      ],
      "id": "5aee8a44-ac03-45a2-bb2f-1efe749cef98",
      "name": "Schedule for Every Midnight"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file/async",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "your_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_formats",
              "value": "md"
            },
            {
              "name": "target_type",
              "value": "inbody"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "={{ $json.name }}"
            },
            {
              "name": "image_export_mode",
              "value": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -288
      ],
      "id": "d7fb8670-4704-4940-b6f1-150afbd9a65a",
      "name": "Local Docling OCR Preprocess"
    },
    {
      "parameters": {
        "command": "echo \"done\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        320,
        -464
      ],
      "id": "8c1289eb-9191-45ba-b941-0ab91eaa148f",
      "name": "Echo done"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "claims-embeddings",
          "mode": "list"
        },
        "embeddingBatchSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1520,
        -160
      ],
      "id": "1862d8b1-9e2d-4271-a314-c521785e8a2a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "FZ06UNvvRhPsC4em",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1632,
        48
      ],
      "id": "557bdf49-5601-4541-9313-06f4036591a1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "embeddinggemma:300m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1504,
        48
      ],
      "id": "024b4095-a781-4cdb-a4c0-8f7797a277ac",
      "name": "Local Embeddings Model",
      "credentials": {
        "ollamaApi": {
          "id": "uJarTXI2rLAJfqqz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 20000,
        "chunkOverlap": 1
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1712,
        192
      ],
      "id": "1a165db2-a08e-4394-b29c-d7153151d119",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Download Claim": {
      "main": [
        [
          {
            "node": "Local Docling OCR Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 sec": {
      "main": [
        [
          {
            "node": "Check the status of the Docling/OCR process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Markdown from Document": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If parsing still on": {
      "main": [
        [
          {
            "node": "Extract Markdown from Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the status of the Docling/OCR process": {
      "main": [
        [
          {
            "node": "If parsing still on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Claims": {
      "main": [
        [
          {
            "node": "Echo done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Claims Metadata from Storage": {
      "main": [
        [
          {
            "node": "Loop Over Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule for Every Midnight": {
      "main": [
        [
          {
            "node": "Fetch All Claims Metadata from Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Docling OCR Preprocess": {
      "main": [
        [
          {
            "node": "Check the status of the Docling/OCR process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Local Embeddings Model": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "036ca273-d7b6-40e8-9fbf-f29bf47239e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "753d68970f38014a2e1e2d4a866b561ee34f9f91ba59e2ddb608002b70d5c941"
  },
  "id": "GCxI6jFUwEDeGL9K",
  "tags": []
}