n8n/RAG-OCR-workflow.json
{
  "name": "RAG-MCP Claims Reconciliation",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        -1472
      ],
      "id": "717de2c0-c143-4eda-a7ae-0b30954b8e14",
      "name": "GPT OSS 20B",
      "credentials": {
        "groqApi": {
          "id": "pAwckXPf9euftlt9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://claims-rec-mcp:7711/mcp",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        240,
        -1472
      ],
      "id": "52948f69-cc37-4f7d-9e51-1638ab5a8f5e",
      "name": "Claims Rec – MCP Client"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== CONVERSATION HISTORY ===\n{{ $json.conversation_history }}\n\n=== CURRENT USER MESSAGE ===\n{{ $('Code in JavaScript').first().json.user_message }}\n",
        "options": {
          "systemMessage": "# System Prompt for GPT-OSS 20B - Claims Recommendation MCP\n\nReasoning: medium\n\nYou are a healthcare claims assistant with access to a Claims Recommendation MCP server managing Tanzania healthcare insurance claims. Your role is to help users query and manage claims efficiently.\n\n## Core Instructions\n\n1. **Tool Usage Protocol**\n   - ONLY pass parameters explicitly defined in each tool's signature\n   - NEVER pass: `chatInput`, `toolCallId`, `thread_id`, `user_message`, `conversation_history`, `timestamp`, `session_id`\n   - Use default parameter values when user doesn't specify\n   - Call tools directly without asking permission\n\n2. **Response Style**\n   - Be concise and professional\n   - Lead with the most relevant information\n   - Use clear formatting for multiple claims\n   - Confirm before approving/rejecting claims\n\n## Available Tools\n\n**list_recent_claims** - Get 1-5 most recent claims\n- Parameters: `limit` (integer, 1-5, default: 5)\n\n**list_old_pending_claims** - Get pending claims by age\n- Parameters: `limit` (integer, 1-50, default: 10), `days_old` (integer, minimum: 1, default: 30)\n\n**list_claims_by_status** - Filter by status (Approved/Rejected/Pending)\n- Parameters: `status` (string: 'Approved'/'Rejected'/'Pending'), `limit` (integer, 1-50, default: 10), `days_old` (integer, default: 0)\n\n**get_claim_by_number** - Get full claim details by number\n- Parameters: `claim_number` (string, e.g., 'ZNB-2024-001')\n\n**get_claim_by_patient_id** - Get all claims for a patient\n- Parameters: `patient_id` (string, e.g., 'PAT-001')\n\n**check_claim_status** - Check current status of a claim\n- Parameters: `claim_number` (string)\n\n**approve_claim** - Approve a claim (status → 'Approved')\n- Parameters: `claim_number` (string, required), `reviewed_by` (string, optional), `notes` (string, optional)\n\n**reject_claim** - Reject a claim (status → 'Rejected')\n- Parameters: `claim_number` (string, required), `reviewed_by` (string, optional), `notes` (string, optional)\n\n## Decision Logic\n\n- \"latest claims\" → use `list_recent_claims`\n- \"pending for X days\" → use `list_old_pending_claims` with `days_old=X`\n- \"approved/rejected claims\" → use `list_claims_by_status`\n- claim number mentioned → use `get_claim_by_number` or `check_claim_status`\n- patient ID mentioned → use `get_claim_by_patient_id`\n- \"approve/reject claim\" → confirm details first, then use `approve_claim` or `reject_claim`\n\n## Data Context\n\nAll claims are from Tanzania's healthcare system. Claims include patient demographics, provider info, diagnoses, procedures, and financial details. Statuses: Pending, Approved, Rejected.\n\n## Error Handling\n\nIf a tool returns an error, explain clearly and suggest alternatives. Maintain professional tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        -1728
      ],
      "id": "ba4b7f46-9489-407c-aebf-28b44f7d405a",
      "name": "AI Agent - Claims Rec"
    },
    {
      "parameters": {
        "fileSelector": "/home/external/medical-rules.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2096,
        -2560
      ],
      "id": "19da0d96-abf9-4af1-83a6-e0f81ffa40c8",
      "name": "Pull Rules Engine Excel file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2304,
        -2560
      ],
      "id": "3416a46d-e5de-4059-957f-f12716653780",
      "name": "RUN !"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1888,
        -2560
      ],
      "id": "047e9e6d-2f26-405a-aee3-415812c8bfb8",
      "name": "Convert excel to JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1440,
        -2560
      ],
      "id": "37261219-428b-41e5-8699-81954cddde9e",
      "name": "Loop Over Rules"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e86f57d-755a-4de7-92d7-13ec1d4d01fe",
              "name": "combinedContent",
              "value": "={{ $json.combinedContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        -2544
      ],
      "id": "ecb874c4-c952-4660-a99b-36a642fbab5a",
      "name": "Get one Organized Readable Rule"
    },
    {
      "parameters": {
        "jsCode": "const myJSON = JSON.stringify($input.first().json.combinedContent);\nconst dataz = {\"data\": myJSON};\nreturn dataz;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -2544
      ],
      "id": "eda0f892-1806-4aa4-a690-a2b6fd76a950",
      "name": "Convert to Natural Language Rule"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "rules-engine",
          "mode": "list"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -800,
        -2544
      ],
      "id": "85ebdd6f-0bef-4c03-8a7c-ea32ec7667e7",
      "name": "Rules-Engine Vectorstore",
      "credentials": {
        "qdrantApi": {
          "id": "9g9FVeOFvcZvztrb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -656,
        -2336
      ],
      "id": "ff0d2f84-62aa-4d9c-8452-34e6c64b5176",
      "name": "Load Natural Language Rule"
    },
    {
      "parameters": {
        "chunkSize": 500000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -576,
        -2192
      ],
      "id": "c70ef6f9-ce9a-4cc2-b15b-bb8802f2fc04",
      "name": "Biggest Token Chunk Size"
    },
    {
      "parameters": {
        "command": "echo \"done\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1216,
        -2752
      ],
      "id": "ebea619d-76ec-416c-967b-c5659f1de34d",
      "name": "ECHO DONE. IN N8N BASH"
    },
    {
      "parameters": {
        "model": "embeddinggemma:300m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -848,
        -2192
      ],
      "id": "7131fc6c-c31d-4f68-bfe4-06eb138c9469",
      "name": "embeddinggemma:300m (2)",
      "credentials": {
        "ollamaApi": {
          "id": "Ioik0GQDygB82fN6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://paddleocr:5002/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image\":  \"{{ $('Convert image to BASE64').item.json.file0 }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -608
      ],
      "id": "f49c458f-d2c5-4952-b599-46be27be8949",
      "name": "Extract Claim Info with Paddle OCR"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "file0",
        "destinationKey": "=file0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2096,
        304
      ],
      "id": "e9a5ab20-ff2c-4494-9e22-4f71ab48d68f",
      "name": "Convert image to BASE64",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Search policy and claim handling rules.\nReturn rules relevant to the claim facts.\nOnly retrieved rules may be used.",
        "qdrantCollection": {
          "__rl": true,
          "value": "rules-engine",
          "mode": "list",
          "cachedResultName": "rules-engine"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1296,
        -80
      ],
      "id": "02922297-4ec5-4ed4-ac0f-b0d789ed15f3",
      "name": "Retrieve Compatible Rules",
      "credentials": {
        "qdrantApi": {
          "id": "9g9FVeOFvcZvztrb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== CONVERSATION HISTORY ===\n\n{{ $('Format/ Prepare Thread Msgs1').item.json.conversation_history }}\n\n=== CURRENT USER MESSAGE ===\n{{ $('Code in JavaScript').first().json.user_message }}\n\n\n```markdown\n{{ $json.text }}\n```",
        "options": {
          "systemMessage": "You are an expert Medical Claims Auditor for ZHSF. You operate in two distinct modes based on the user's request.\n\n### OPERATING MODES:\n1. OCR/EXTRACTION MODE: Triggered if the user asks to \"extract,\" \"summarize,\" \"read,\" or \"list facts.\" \n   - DO NOT use the search tool. \n   - Simply transcribe the handwritten data into a clean, structured list.\n   - Include: Patient info, Diagnosis codes, Procedure names, and Costs.\n\n2. RULE VALIDATION MODE: Triggered if the user asks to \"validate,\" \"check,\" \"audit,\" or \"evaluate.\"\n   - STEP 1: Extract technical facts (ICD-10 codes, specific medicines, and procedure names).\n   - STEP 2: Use the Qdrant Search Tool. Your search query MUST include the technical terms (e.g., \"Policy for Z35.9 elective c-section\").\n   - STEP 3: Compare facts to retrieved rules and provide a conclusion (Approve/Deny/Incomplete).\n\n### CONSTRAINTS:\n- For Mode 2, if no rules are found, try ONE broader search (e.g., \"General Surgery Policy\").\n- Never use outside medical knowledge; only use what is in the document or the retrieved rules.\n- If you are unsure which mode to use, default to Rule Validation Mode but list the extracted facts first."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1136,
        -304
      ],
      "id": "e51077a5-4235-4a41-b09a-79f56db8389a",
      "name": "Rules Engine AI Agent"
    },
    {
      "parameters": {
        "model": "embeddinggemma:300m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1424,
        112
      ],
      "id": "d8fe6236-c640-41f7-8082-0d37ee918d5c",
      "name": "embeddinggemma:300m (1)",
      "credentials": {
        "ollamaApi": {
          "id": "Ioik0GQDygB82fN6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const data = item.json;\n  \n  const denseText = [\n    `Surgical Procedure: ${data['Surgical Procedure'] || 'N/A'}.`,\n    data['Major/Minor'] ? `Classification: ${data['Major/Minor']} procedure.` : '',\n    data['M/F'] && data['M/F'] !== 'ALL' ? `Gender: ${data['M/F']}.` : 'Applicable to all genders.',\n    data['Age'] && data['Age'] !== 'ALL' ? `Age requirement: ${data['Age']}.` : 'No age restriction.',\n    data['Prior Authorization'] === 'YES' ? 'Prior authorization is required.' : \n    data['Prior Authorization'] === 'NO' ? 'No prior authorization needed.' : '',\n    data['Hospitalization days'] && data['Hospitalization days'] !== 'NO' && data['Hospitalization days'] !== 'NULL' ? \n      `Requires ${data['Hospitalization days']} days of hospitalization.` : \n    data['Hospitalization days'] === 'YES' ? 'Hospitalization is required.' :\n    data['Hospitalization days'] === 'NO' ? 'No hospitalization required.' : '',\n    data['Additional Days Approved'] && data['Additional Days Approved'] !== 'NO' && data['Additional Days Approved'] !== 'NULL' ? \n      `${data['Additional Days Approved']} additional days approved.` : '',\n    data['Hospital level'] ? `Available at: ${data['Hospital level']}.` : '',\n    data['Registered Specialized'] ? `Performed by: ${data['Registered Specialized']}.` : ''\n  ].filter(text => text).join(' ');\n  \n  const sparseKeywords = [\n    data['Surgical Procedure'],\n    data['Major/Minor'],\n    data['M/F'],\n    data['Age'],\n    data['Prior Authorization'] === 'YES' ? 'authorization required' : 'no authorization',\n    data['Hospitalization days'] === 'YES' || (data['Hospitalization days'] && data['Hospitalization days'] !== 'NO' && data['Hospitalization days'] !== 'NULL') ? 'hospitalization inpatient' : 'outpatient',\n    data['Hospital level'] ? data['Hospital level'].split('/').join(' ') : '',\n    data['Registered Specialized'] ? data['Registered Specialized'].split('/').join(' ') : '',\n    'dental surgery procedure medical treatment'\n  ].filter(kw => kw && kw !== 'NULL' && kw !== 'ALL').join(' ');\n  \n  item.json.denseContent = denseText;\n  item.json.sparseContent = sparseKeywords;\n  item.json.combinedContent = `${denseText} ${sparseKeywords}`;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -2560
      ],
      "id": "90cc9daf-b38f-41e4-bc26-90382cbc0497",
      "name": "Create Dense+Sparse Content from JSON objects"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAG",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2272,
        304
      ],
      "id": "76bf154e-5fdb-4e38-874d-3d7c82ce3822",
      "name": "Webhook1",
      "webhookId": "f2d8ded8-2dbf-46ec-8784-563666528841"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1072,
        -48
      ],
      "id": "e3ef869a-fade-4f78-a917-24e5ee2bf831",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "pAwckXPf9euftlt9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You may receive content that includes Markdown or HTML.\n\n**Task:**\n- Convert and respond **only** in clear, human-readable **Markdown**\n- Do **not** include any HTML in your response\n- Preserve the original meaning, structure, and emphasis\n- Improve readability where appropriate\n\n**Content to process:**\n{{ $('Parse one page1').first().json.choices[0].message.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        784,
        -304
      ],
      "id": "af570c7c-60ce-4e4c-9317-eac54cfea0a4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        832,
        -128
      ],
      "id": "b85d18d8-8d33-4468-ad16-ad96dffecf60",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "pAwckXPf9euftlt9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook1').first().json.body || $('Webhook1').first().json;\n\n// Generate thread_id if not provided or invalid\nconst threadId = webhookData.thread_id && \n                 webhookData.thread_id !== '' && \n                 webhookData.thread_id !== 'null' && \n                 webhookData.thread_id !== null\n                 ? webhookData.thread_id\n                 : `thread_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Check if this is a new thread\nconst isNewThread = !webhookData.thread_id || \n                    webhookData.thread_id === '' || \n                    webhookData.thread_id === 'null' || \n                    webhookData.thread_id === null;\n\n// Check if file is attached (backend sets this param)\nconst hasFile = webhookData.has_file === true || webhookData.has_file === 'true';\n\n// Check if MCP is enabled (backend sets this param)\nconst mcpIsOn = webhookData.mcp_is_on === true || webhookData.mcp_is_on === 'true';\n\nreturn {\n  json: {\n    thread_id: threadId,\n    is_new_thread: isNewThread,\n    has_file: hasFile,\n    mcp_is_on: mcpIsOn,\n    user_message: webhookData.message || '',\n    // Pass through the entire webhook data for access to file data if needed\n    webhook_data: webhookData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        304
      ],
      "id": "bfa61b69-772f-4c3f-9e88-dca9e4ca695d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096b5129-dc97-4da5-8f53-666cbc148e9a",
              "leftValue": "={{ $json.is_new_thread }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        336
      ],
      "id": "50de6850-fc1b-42c1-a4cb-d8c84d07d198",
      "name": "IF: is new thread ?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create threads table\nCREATE TABLE IF NOT EXISTS threads (\n    thread_id VARCHAR(100) PRIMARY KEY,\n    title VARCHAR(255),\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Create messages table\nCREATE TABLE IF NOT EXISTS messages (\n    message_id SERIAL PRIMARY KEY,\n    thread_id VARCHAR(100) NOT NULL,\n    role VARCHAR(20) NOT NULL CHECK (role IN ('user', 'assistant')),\n    content TEXT NOT NULL,\n    attachment_name VARCHAR(255), -- Optional attachment field\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    FOREIGN KEY (thread_id) REFERENCES threads(thread_id) ON DELETE CASCADE\n);\n\n-- Create indexes for better performance\nCREATE INDEX IF NOT EXISTS idx_messages_thread_id ON messages(thread_id);\nCREATE INDEX IF NOT EXISTS idx_messages_created_at ON messages(created_at);\nCREATE INDEX IF NOT EXISTS idx_threads_created_at ON threads(created_at);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1920,
        304
      ],
      "id": "3f57a525-b25e-4660-aa66-3a12a4b4fc0e",
      "name": "Thread/Message Schema",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- First, ensure thread exists\nINSERT INTO threads (thread_id, title, created_at, updated_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  '{{ $('Code in JavaScript').item.json.user_message.substring(0, 50) }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (thread_id) DO UPDATE SET updated_at = NOW();\n\n-- Then, insert the user message\nINSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        176
      ],
      "id": "007b2f82-da8c-4937-aef3-0d64b669035a",
      "name": "SQL: Create New Thread/ User Message",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b84c0e8-9e9f-402f-a619-595116fea7e7",
              "leftValue": "={{ $json.has_file }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1264,
        320
      ],
      "id": "0c6df55b-1c05-44d5-b8eb-e20342fd37c6",
      "name": "IF: has a file ?"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ONLY use this tool if you need to find ZHSF Policy Rules for a claim. \n\nDo NOT use this tool for simple text extraction or OCR tasks. \n\nWhen searching, prioritize using ICD-10 diagnosis codes (e.g., 'I25.5') and procedure names (e.g., 'Hemodialysis') to find the specific reimbursement and authorization rules.",
        "qdrantCollection": {
          "__rl": true,
          "value": "rules-engine",
          "mode": "list",
          "cachedResultName": "rules-engine"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        384,
        576
      ],
      "id": "ca196760-f469-426c-849a-99f61b521d50",
      "name": "Retrieve Compatible Rules4",
      "credentials": {
        "qdrantApi": {
          "id": "9g9FVeOFvcZvztrb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== CONVERSATION HISTORY ===\n{{ $json.conversation_history }}\n\n=== CURRENT USER MESSAGE ===\n{{ $json.user_message }}",
        "options": {
          "systemMessage": "You are an intelligent claims verification assistant. Your task is to evaluate whether the provided insurance claim information aligns with the relevant rules and guidelines. Analyze the claim carefully, identify any discrepancies or conflicts, and clearly indicate whether the claim is compliant or requires further review. Provide concise explanations and actionable insights to help the user make informed decisions. Focus on accuracy, clarity, and practical guidance. Always use the Qdrant document retriever to access relevant documents, guidelines, and reference materials before providing an assessment."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        288
      ],
      "id": "25ddc8f2-957d-4e09-bc2f-7bdc561bb3a0",
      "name": "Rules Engine AI Agent4"
    },
    {
      "parameters": {
        "model": "embeddinggemma:300m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        480,
        720
      ],
      "id": "ec982641-6047-4b76-abd8-2d7335d5395a",
      "name": "embeddinggemma:300m (1)4",
      "credentials": {
        "ollamaApi": {
          "id": "Ioik0GQDygB82fN6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        48,
        576
      ],
      "id": "9bdce607-28ea-4146-9d32-de2327d12964",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "pAwckXPf9euftlt9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message_id, role, content, created_at \nFROM messages \nWHERE thread_id = '{{ $json.thread_id }}'\nORDER BY created_at ASC\nLIMIT 7;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        288
      ],
      "id": "ec048da4-64a6-45f9-9da3-72cc060a1d44",
      "name": "SQL: Fetch Messages",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Format/ Prepare Thread Msgs').item.json.thread_id }}',\n  'assistant',\n  '{{ $json.output }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        288
      ],
      "id": "8c1b2f7d-d48d-4f79-80ab-4b0341e9e5dd",
      "name": "SQL: Save AI Message",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        288
      ],
      "id": "b4d9aecf-4b44-45d7-a69b-2f8abf94a1f1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Optional: update thread's updated_at timestamp\nUPDATE threads\nSET updated_at = NOW()\nWHERE thread_id = '{{ $('Code in JavaScript').item.json.thread_id }}';\n\n-- Insert the new user message\nINSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        432
      ],
      "id": "2ede3e2d-b283-45f2-bad8-5247de59e586",
      "name": "SQL: Insert msg to existing Thread",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all history messages from Postgres\nconst historyItems = $input.all();\n\n// Get thread data from Thread ID Handler (text only, no binary)\nconst threadHandler = $('Code in JavaScript').first().json;\nconst threadId = threadHandler.thread_id;\nconst userMessage = threadHandler.user_message;\n\n// Format conversation history as readable text\nlet conversationHistory = '';\n\nif (historyItems.length > 0) {\n  conversationHistory = historyItems.map(item => {\n    const role = item.json.role === 'user' ? 'Human' : 'Assistant';\n    const content = item.json.content;\n    return `${role}: ${content}`;\n  }).join('\\n\\n');\n} else {\n  conversationHistory = 'This is the start of the conversation.';\n}\n\n// Create messages array format (for alternative use)\nconst messagesArray = historyItems.map(item => ({\n  role: item.json.role,\n  content: item.json.content\n}));\n\n// Return formatted data (NO binary data)\nreturn {\n  json: {\n    thread_id: threadId,\n    user_message: userMessage,\n    conversation_history: conversationHistory,\n    messages_array: messagesArray,\n    total_messages: historyItems.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        288
      ],
      "id": "b5c8e0d2-6c4e-4e7e-b012-2f2893f2c9e2",
      "name": "Format/ Prepare Thread Msgs"
    },
    {
      "parameters": {
        "path": "threads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2272,
        784
      ],
      "id": "f272e945-7db4-4b6b-8f5c-09b2004501d0",
      "name": "Webhook3",
      "webhookId": "2073ff21-3b85-4a26-bd6e-200129833706"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(item => item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1856,
        784
      ],
      "id": "8de9cf06-b5bb-4b9c-ad13-c3049959aeca",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    thread_id, \n    title, \n    created_at, \n    updated_at \nFROM threads \nORDER BY updated_at DESC \nLIMIT 50; ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2064,
        784
      ],
      "id": "40785255-336c-4490-9787-08968a58d18a",
      "name": "SQL: Fetch Threads",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2272,
        1088
      ],
      "id": "79aa2ed3-f70d-4e07-9072-02b6a3f9e89a",
      "name": "Webhook4",
      "webhookId": "eab2e1ce-3094-4122-b56f-49aa0078387b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Select all messages for a specific thread\nSELECT \n    role, \n    content, \n    created_at,\n    attachment_name\nFROM messages \nWHERE thread_id = '{{ $json.query.thread_id }}' \nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2048,
        1088
      ],
      "id": "236acb98-2fd9-4983-94d1-8ccee8cc99bd",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1840,
        1088
      ],
      "id": "587bdb46-add9-47a1-94cc-d2be75197b0c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096b5129-dc97-4da5-8f53-666cbc148e9a",
              "leftValue": "={{ $('IF: has a file ?').item.json.is_new_thread }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -272
      ],
      "id": "f0f489d7-bf1f-448b-8bb6-472ae66b5949",
      "name": "IF: is new thread ?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- First, ensure thread exists\nINSERT INTO threads (thread_id, title, created_at, updated_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  '{{ $('Code in JavaScript').item.json.user_message.substring(0, 50) }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (thread_id) DO UPDATE SET updated_at = NOW();\n\n-- Then, insert the user message with optional attachment\nINSERT INTO messages (thread_id, role, content, attachment_name, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  '{{ $('Code in JavaScript').item.json.webhook_data.attachmentName || null }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, attachment_name, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -400
      ],
      "id": "cf9e0d22-6947-4286-bd22-752330784567",
      "name": "SQL: Create New Thread/ User Message1",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Optional: update thread's updated_at timestamp\nUPDATE threads\nSET updated_at = NOW()\nWHERE thread_id = '{{ $('Code in JavaScript').item.json.thread_id }}';\n\n-- Insert the new user message\nINSERT INTO messages (thread_id, role, content, attachment_name, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  '{{ $('Code in JavaScript').item.json.webhook_data.attachmentName || null }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, attachment_name, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -144
      ],
      "id": "d8aa8000-35c1-43de-a7d4-3db40d041f14",
      "name": "SQL: Insert msg to existing Thread1",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message_id, role, content, created_at \nFROM messages \nWHERE thread_id = '{{ $json.thread_id }}'\nORDER BY created_at ASC\nLIMIT 6;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        -304
      ],
      "id": "10fe11df-6e09-43de-96b0-8cddc4807d5a",
      "name": "SQL: Fetch Messages1",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all history messages from Postgres\nconst historyItems = $input.all();\n\n// Get thread data from Thread ID Handler (text only, no binary)\nconst threadHandler = $('Code in JavaScript').first().json;\nconst threadId = threadHandler.thread_id;\nconst userMessage = threadHandler.user_message;\n\n// Format conversation history as readable text\nlet conversationHistory = '';\n\nif (historyItems.length > 0) {\n  conversationHistory = historyItems.map(item => {\n    const role = item.json.role === 'user' ? 'Human' : 'Assistant';\n    const content = item.json.content;\n    return `${role}: ${content}`;\n  }).join('\\n\\n');\n} else {\n  conversationHistory = 'This is the start of the conversation.';\n}\n\n// Create messages array format (for alternative use)\nconst messagesArray = historyItems.map(item => ({\n  role: item.json.role,\n  content: item.json.content\n}));\n\n// Return formatted data (NO binary data)\nreturn {\n  json: {\n    thread_id: threadId,\n    user_message: userMessage,\n    conversation_history: conversationHistory,\n    messages_array: messagesArray,\n    total_messages: historyItems.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -304
      ],
      "id": "379f51bf-00a1-440b-9aca-78d237208168",
      "name": "Format/ Prepare Thread Msgs1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Format/ Prepare Thread Msgs1').item.json.thread_id }}',\n  'assistant',\n  '{{ $json.output }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        -304
      ],
      "id": "c2a77a20-935d-4b39-9534-8de236bed656",
      "name": "SQL: Save AI Message1",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1840,
        -304
      ],
      "id": "5d7cbcd6-c1a5-487e-bb15-65fb34c9bd0c",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n  json: { \n    \"response\": $input.first().json.content,\n    \"thread_id\": $input.first().json.thread_id\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -304
      ],
      "id": "2cc6de19-1a3c-47d1-b895-8d6fe7b3fc46",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n  json: { \n    \"response\": $input.first().json.content,\n    \"thread_id\": $input.first().json.thread_id\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        288
      ],
      "id": "5c1ae6ee-65c9-4a4f-be7e-aab36b561c06",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b84c0e8-9e9f-402f-a619-595116fea7e7",
              "leftValue": "={{ $json.mcp_is_on }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        304
      ],
      "id": "a7d19818-b27f-41e3-953d-bc05e4c453fb",
      "name": "IF: MCP is on?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- First, ensure thread exists\nINSERT INTO threads (thread_id, title, created_at, updated_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  '{{ $('Code in JavaScript').item.json.user_message.substring(0, 50) }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (thread_id) DO UPDATE SET updated_at = NOW();\n\n-- Then, insert the user message\nINSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -1824
      ],
      "id": "c7d34e91-5e5e-4a45-a597-0a4d49b3981b",
      "name": "SQL: Create New Thread/ User Message2",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message_id, role, content, created_at \nFROM messages \nWHERE thread_id = '{{ $json.thread_id }}'\nORDER BY created_at ASC\nLIMIT 7;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        -1728
      ],
      "id": "aa09e15e-c708-4504-9caf-ea1044142608",
      "name": "SQL: Fetch Messages2",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Optional: update thread's updated_at timestamp\nUPDATE threads\nSET updated_at = NOW()\nWHERE thread_id = '{{ $('Code in JavaScript').item.json.thread_id }}';\n\n-- Insert the new user message\nINSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -1584
      ],
      "id": "0cce7350-e5e3-474c-9115-cf067d4de4d5",
      "name": "SQL: Insert msg to existing Thread2",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all history messages from Postgres\nconst historyItems = $input.all();\n\n// Get thread data from Thread ID Handler (text only, no binary)\nconst threadHandler = $('Code in JavaScript').first().json;\nconst threadId = threadHandler.thread_id;\nconst userMessage = threadHandler.user_message;\n\n// Format conversation history as readable text\nlet conversationHistory = '';\n\nif (historyItems.length > 0) {\n  conversationHistory = historyItems.map(item => {\n    const role = item.json.role === 'user' ? 'Human' : 'Assistant';\n    const content = item.json.content;\n    return `${role}: ${content}`;\n  }).join('\\n\\n');\n} else {\n  conversationHistory = 'This is the start of the conversation.';\n}\n\n// Create messages array format (for alternative use)\nconst messagesArray = historyItems.map(item => ({\n  role: item.json.role,\n  content: item.json.content\n}));\n\n// Return formatted data (NO binary data)\nreturn {\n  json: {\n    thread_id: threadId,\n    user_message: userMessage,\n    conversation_history: conversationHistory,\n    messages_array: messagesArray,\n    total_messages: historyItems.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -1728
      ],
      "id": "8d6537a7-4713-45f9-9aa0-ef750c3849c5",
      "name": "Format/ Prepare Thread Msgs2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096b5129-dc97-4da5-8f53-666cbc148e9a",
              "leftValue": "={{ $json.is_new_thread }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -1696
      ],
      "id": "6bd994d7-38cc-4068-b3c1-00d94e0ba399",
      "name": "IF: is new thread ?2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $('Format/ Prepare Thread Msgs2').item.json.thread_id }}',\n  'assistant',\n  '{{ $json.output }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        -1728
      ],
      "id": "338d8a94-8b51-4a48-90ba-7e6a1464cfc9",
      "name": "SQL: Save AI Message2",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        -1728
      ],
      "id": "1102eb11-e456-43a6-bcbb-05b261d3b74c",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n  json: { \n    \"response\": $input.first().json.content,\n    \"thread_id\": $input.first().json.thread_id\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -1728
      ],
      "id": "579aecfe-26f9-44c7-affd-123c9e147345",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a vision OCR engine. Extract only the text visible on the page. Output a JSON array where each element is exactly one block of text as it appears. Do not add explanations, summaries, or any extra content.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Return the visible text exactly as it appears in the image, in reading order, as a JSON array only.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.base64_image }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -944
      ],
      "id": "5d51156c-2411-4ed5-a512-e52910511fdd",
      "name": "Parse one page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "605d62be-6097-4b8d-bcea-d543ddc3edeb",
              "leftValue": "={{ $json.webhook_data.attachmentName }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -288
      ],
      "id": "1e7d09ab-8769-4350-9184-6843cc8f0719",
      "name": "file is PDF ?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the single item containing all the binary images\nconst item = $input.first();\nconst binaryData = item.binary;\n\n// 2. Find all keys that are page images (e.g., 'images_page_1', 'images_page_2')\nconst pageKeys = Object.keys(binaryData).filter(key => key.startsWith('images_'));\n\n// 3. Sort them so page 1 comes before page 2, etc.\npageKeys.sort((a, b) => {\n  const numA = parseInt(a.replace('images_page_', ''));\n  const numB = parseInt(b.replace('images_page_', ''));\n  return numA - numB;\n});\n\n// 4. Create a separate item for each page\nconst pages = pageKeys.map((key, index) => {\n  const imageFile = binaryData[key];\n  \n  return {\n    json: {\n      page_number: index + 1,\n      // Create the standard Base64 Data URI for Groq/OpenAI APIs\n      base64_image: `data:${imageFile.mimeType};base64,${imageFile.data}`\n    }\n  };\n});\n\nreturn pages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -960
      ],
      "id": "40a687d5-0cbe-4d8d-9c39-2c767a947f44",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        -960
      ],
      "id": "b7835255-a7b7-472d-a99f-2382ab3eb91f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const base64String = $('Convert image to BASE64').first().json.file0\nreturn {\n  json: { message: \"Converted to binary\" },\n  binary: {\n    data: {\n      data: base64String,\n      mimeType: 'application/pdf',\n      fileName: 'file.pdf'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -960
      ],
      "id": "64644c56-465e-4598-a15c-278e9b6d5876",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "density": 40
      },
      "type": "n8n-nodes-pdfconvert.pdfConvert",
      "typeVersion": 1,
      "position": [
        -496,
        -960
      ],
      "id": "23b962eb-2e26-4c86-a6e7-e3e0f310ee19",
      "name": "PDF Convert"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== CURRENT USER MESSAGE ===\n{{ $('Code in JavaScript').first().json.user_message }}\n\nTHIS IS PAGE NUMBER {{ $json.choices[0].index + 1 }} :\n```markdown\n{{ $json.choices[0].message.content }}\n```",
        "options": {
          "systemMessage": "You are an expert Medical Claims Auditor for ZHSF. You operate in two distinct modes based on the user's request.\n\n### OPERATING MODES:\n1. OCR/EXTRACTION MODE: Triggered if the user asks to \"extract,\" \"summarize,\" \"read,\" or \"list facts.\" \n   - DO NOT use the search tool. \n   - Simply transcribe the handwritten data into a clean, structured list.\n   - Include: Patient info, Diagnosis codes, Procedure names, and Costs.\n\n2. RULE VALIDATION MODE: Triggered if the user asks to \"validate,\" \"check,\" \"audit,\" or \"evaluate.\"\n   - STEP 1: Extract technical facts (ICD-10 codes, specific medicines, and procedure names).\n   - STEP 2: Use the Qdrant Search Tool. Your search query MUST include the technical terms (e.g., \"Policy for Z35.9 elective c-section\").\n   - STEP 3: Compare facts to retrieved rules and provide a conclusion (Approve/Deny/Incomplete).\n\n### CONSTRAINTS:\n- For Mode 2, if no rules are found, try ONE broader search (e.g., \"General Surgery Policy\").\n- Never use outside medical knowledge; only use what is in the document or the retrieved rules.\n- If you are unsure which mode to use, default to Rule Validation Mode but list the extracted facts first."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        -944
      ],
      "id": "78ee9af0-7833-44a7-ae78-d0419e6ffa9a",
      "name": "Rules Engine AI Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=ONLY use this tool if you need to find ZHSF Policy Rules for a claim. \n\nDo NOT use this tool for simple text extraction or OCR tasks. \n\nWhen searching, prioritize using ICD-10 diagnosis codes (e.g., 'I25.5') and procedure names (e.g., 'Hemodialysis') to find the specific reimbursement and authorization rules.",
        "qdrantCollection": {
          "__rl": true,
          "value": "rules-engine",
          "mode": "list",
          "cachedResultName": "rules-engine"
        },
        "topK": 12,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        624,
        -688
      ],
      "id": "32bea6e9-17e1-43e2-907b-44b516dd0c0b",
      "name": "Retrieve Compatible Rules1",
      "credentials": {
        "qdrantApi": {
          "id": "9g9FVeOFvcZvztrb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:300m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        736,
        -528
      ],
      "id": "5206a28d-d2dc-4ee8-9eff-76d09da498da",
      "name": "embeddinggemma:300m (1)1",
      "credentials": {
        "ollamaApi": {
          "id": "Ioik0GQDygB82fN6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        -688
      ],
      "id": "cee2e209-c3e5-4f09-81ed-87c57b24ff87",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "pAwckXPf9euftlt9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        -1152
      ],
      "id": "bcbbce8c-dbac-46d1-b1a7-b9e57605224d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get the array of results from the previous node\nconst items = $input.first().json.data\n\n// Combine them into a single Markdown-formatted string\nconst formattedOutput = items.map((item, index) => {\n  return `## Response of Page ${index + 1}\\n\\n${item.output}`;\n}).join('\\n\\n---\\n\\n');\n\n// Return as a single string under \"response\" key\nreturn {\n  response: formattedOutput\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -1152
      ],
      "id": "c465b2ae-e052-481d-afdd-2683a8d96d84",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (thread_id, role, content, created_at)\nVALUES (\n  '{{ $json.thread_id }}',\n  'assistant',\n  '{{ $node[\"Code in JavaScript4\"].json.response }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        -1152
      ],
      "id": "e06812a7-325c-44c2-a432-e84438e7688d",
      "name": "SQL: Save AI Message3",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096b5129-dc97-4da5-8f53-666cbc148e9a",
              "leftValue": "={{ $('IF: has a file ?').item.json.is_new_thread }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -1152
      ],
      "id": "b46ae36c-67e0-4ff7-8f94-ee8cf666da35",
      "name": "IF: is new thread ?3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- First, ensure thread exists\nINSERT INTO threads (thread_id, title, created_at, updated_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  '{{ $('Code in JavaScript').item.json.user_message.substring(0, 50) }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (thread_id) DO UPDATE SET updated_at = NOW();\n\n-- Then, insert the user message with optional attachment\nINSERT INTO messages (thread_id, role, content, attachment_name, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  '{{ $('Code in JavaScript').item.json.webhook_data.attachmentName || null }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, attachment_name, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        -1280
      ],
      "id": "86552d62-665b-4a14-8315-69bfc5140d50",
      "name": "SQL: Create New Thread/ User Message3",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Optional: update thread's updated_at timestamp\nUPDATE threads\nSET updated_at = NOW()\nWHERE thread_id = '{{ $('Code in JavaScript').item.json.thread_id }}';\n\n-- Insert the new user message\nINSERT INTO messages (thread_id, role, content, attachment_name, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').item.json.thread_id }}',\n  'user',\n  '{{ $('Code in JavaScript').item.json.user_message }}',\n  '{{ $('Code in JavaScript').item.json.webhook_data.attachmentName || null }}',\n  NOW()\n)\nRETURNING message_id, thread_id, role, content, attachment_name, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        -1024
      ],
      "id": "fda262f5-a1a6-4b8b-a839-c6b24e4aab02",
      "name": "SQL: Insert msg to existing Thread3",
      "credentials": {
        "postgres": {
          "id": "IM3af1wm8PjJkHuM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2256,
        -1152
      ],
      "id": "31885624-6227-4a81-9ef5-575afc6b3d43",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n  json: { \n    \"response\": $input.first().json.content,\n    \"thread_id\": $input.first().json.thread_id\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -1152
      ],
      "id": "179854b9-ec29-41ea-ae1d-acbfde0ee491",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a vision OCR engine. Extract only the text visible on the page. Output a JSON array where each element is exactly one block of text as it appears. Do not add explanations, summaries, or any extra content.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Return the visible text exactly as it appears in the image, in reading order, as a JSON array only.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Convert image to BASE64').item.json.file0 }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        -272
      ],
      "id": "cb8417dc-d9ab-48e6-9765-43848637fd1d",
      "name": "Parse one page1"
    },
    {
      "parameters": {
        "content": "OFF",
        "height": 272,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -672
      ],
      "typeVersion": 1,
      "id": "4b81fa92-7517-4327-bc08-3c010a3d2f10",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "GPT OSS 20B": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claims Rec – MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Claims Rec": {
      "main": [
        [
          {
            "node": "SQL: Save AI Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Rules Engine Excel file": {
      "main": [
        [
          {
            "node": "Convert excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RUN !": {
      "main": [
        [
          {
            "node": "Pull Rules Engine Excel file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert excel to JSON": {
      "main": [
        [
          {
            "node": "Create Dense+Sparse Content from JSON objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Rules": {
      "main": [
        [
          {
            "node": "ECHO DONE. IN N8N BASH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get one Organized Readable Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get one Organized Readable Rule": {
      "main": [
        [
          {
            "node": "Convert to Natural Language Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Natural Language Rule": {
      "main": [
        [
          {
            "node": "Rules-Engine Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rules-Engine Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Natural Language Rule": {
      "ai_document": [
        [
          {
            "node": "Rules-Engine Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Biggest Token Chunk Size": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Natural Language Rule",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "embeddinggemma:300m (2)": {
      "ai_embedding": [
        [
          {
            "node": "Rules-Engine Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Claim Info with Paddle OCR": {
      "main": [
        []
      ]
    },
    "Convert image to BASE64": {
      "main": [
        [
          {
            "node": "Thread/Message Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Compatible Rules": {
      "ai_tool": [
        [
          {
            "node": "Rules Engine AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "embeddinggemma:300m (1)": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Compatible Rules",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create Dense+Sparse Content from JSON objects": {
      "main": [
        [
          {
            "node": "Loop Over Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Convert image to BASE64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rules Engine AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Rules Engine AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF: MCP is on?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is new thread ?": {
      "main": [
        [
          {
            "node": "SQL: Create New Thread/ User Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Insert msg to existing Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thread/Message Schema": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: has a file ?": {
      "main": [
        [
          {
            "node": "file is PDF ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: is new thread ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create New Thread/ User Message": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Compatible Rules4": {
      "ai_tool": [
        [
          {
            "node": "Rules Engine AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rules Engine AI Agent4": {
      "main": [
        [
          {
            "node": "SQL: Save AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddinggemma:300m (1)4": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Compatible Rules4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Rules Engine AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Fetch Messages": {
      "main": [
        [
          {
            "node": "Format/ Prepare Thread Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save AI Message": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert msg to existing Thread": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format/ Prepare Thread Msgs": {
      "main": [
        [
          {
            "node": "Rules Engine AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "SQL: Fetch Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Fetch Threads": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rules Engine AI Agent": {
      "main": [
        [
          {
            "node": "SQL: Save AI Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is new thread ?1": {
      "main": [
        [
          {
            "node": "SQL: Create New Thread/ User Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Insert msg to existing Thread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create New Thread/ User Message1": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert msg to existing Thread1": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Fetch Messages1": {
      "main": [
        [
          {
            "node": "Format/ Prepare Thread Msgs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format/ Prepare Thread Msgs1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save AI Message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook5": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create New Thread/ User Message2": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Fetch Messages2": {
      "main": [
        [
          {
            "node": "Format/ Prepare Thread Msgs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert msg to existing Thread2": {
      "main": [
        [
          {
            "node": "SQL: Fetch Messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: MCP is on?": {
      "main": [
        [
          {
            "node": "IF: is new thread ?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: has a file ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is new thread ?2": {
      "main": [
        [
          {
            "node": "SQL: Create New Thread/ User Message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Insert msg to existing Thread2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format/ Prepare Thread Msgs2": {
      "main": [
        [
          {
            "node": "AI Agent - Claims Rec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save AI Message2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file is PDF ?": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse one page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse one page": {
      "main": [
        [
          {
            "node": "Rules Engine AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse one page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "PDF Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Convert": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Compatible Rules1": {
      "ai_tool": [
        [
          {
            "node": "Rules Engine AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "embeddinggemma:300m (1)1": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Compatible Rules1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Rules Engine AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rules Engine AI Agent1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "IF: is new thread ?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is new thread ?3": {
      "main": [
        [
          {
            "node": "SQL: Create New Thread/ User Message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Insert msg to existing Thread3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create New Thread/ User Message3": {
      "main": [
        [
          {
            "node": "SQL: Save AI Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert msg to existing Thread3": {
      "main": [
        [
          {
            "node": "SQL: Save AI Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save AI Message3": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse one page1": {
      "main": [
        [
          {
            "node": "IF: is new thread ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da6c49fa-e073-4040-a84c-a8ae19413ece",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55db16e65fdbec46bee6fd38a33a0a55061e4b974c6bd574b6e1877d5dc8fdab"
  },
  "id": "2U8lxXMrUX6ImKgy",
  "tags": [
    {
      "updatedAt": "2025-11-27T11:34:58.248Z",
      "createdAt": "2025-11-27T11:34:58.248Z",
      "id": "ye3pWP9MqmOjAep2",
      "name": "session"
    },
    {
      "updatedAt": "2025-11-27T11:34:54.106Z",
      "createdAt": "2025-11-27T11:34:54.106Z",
      "id": "LWWUAu0YA5M7ST53",
      "name": "agent"
    },
    {
      "updatedAt": "2025-11-27T11:34:52.112Z",
      "createdAt": "2025-11-27T11:34:52.112Z",
      "id": "Ac41p9UK0IYTaxiL",
      "name": "mcp"
    }
  ]
}